In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import plot_tree
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

In [2]:
data = pd.read_csv('Salary_Data.csv')
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [4]:
missing_values = data.isnull().sum()
missing_values

YearsExperience    0
Salary             0
dtype: int64

In [5]:
data = data.dropna()

In [6]:
X = data.drop('Salary', axis=1)
y = data.Salary.values

In [7]:
# Min-Max 스케일링
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

clf1 = DecisionTreeRegressor()
clf1.fit(X_train, y_train)
y_pred1 = clf1.predict(X_test)
print(clf1.score(X_train, y_train))

mse = np.sqrt(mean_squared_error(y_pred1, y_test))
print('평균제곱근오차', mse)

0.9999631319936537
평균제곱근오차 10052.248993799016

In [9]:
clf2 = SVR()
clf2.fit(X_train, y_train)
y_pred2 = clf2.predict(X_test)
print(clf2.score(X_train, y_train))

mse = np.sqrt(mean_squared_error(y_pred2, y_test))
print('평균제곱근오차', mse)

-0.18924674434476274
평균제곱근오차 30858.02159705682

In [10]:
clf3 = LinearRegression()
clf3.fit(X_train, y_train)
y_pred3 = clf3.predict(X_test)
print(clf3.score(X_train, y_train))

mse = np.sqrt(mean_squared_error(y_pred3, y_test))
print('평균제곱근오차', mse)

0.9645401573418146
평균제곱근오차 7059.043621901513

In [11]:
clf4 = RandomForestRegressor()
clf4.fit(X_train, y_train)
y_pred4 = clf4.predict(X_test)
print(clf4.score(X_train, y_train))

mse = np.sqrt(mean_squared_error(y_pred4, y_test))
print('평균제곱근오차', mse)

0.9958350084248184
평균제곱근오차 7361.307219019943